<!DOCTYPE html>
<html>
  <head>
    <title>L33tRestfulH4x0r</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= google_webfonts_init({
          google: ['Roboto Slab', 'Roboto']
        }) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
